:root {
  --blue-wizard: #0254EC;
  --serious-blue: #001142;
  --light-blue-01: #E8F0FF;
  --light-blue-02: #CADAFF;
  --frosting-pink: #FFBFD6;
  --white: #FFFFFF;
  --deep-gray: #3C4948;
  --light-gray: #7E7E7E;
  --off-white: #F5F5F5;
} 